@charset "UTF-8";

body { padding-top: 80px; }
@media ( min-width: 768px ) {
  #banner {
    min-height: 300px;
    border-bottom: none;
  }
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
}

div {
  box-sizing: border-box;
}

.jumbotron {
  margin-bottom: 0;
}

section {
  padding: 0 2rem;
}

dt, dd {
  padding: 0.25rem 0;
}

dd {
  margin-left: 4rem;
}

footer {
  margin-top: 30px;
  background: #333;
  color: #fff;
}

.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}
